<% @domains.each do |domain| %>

	<div id="<%=domain.domain%>" class="domain">
		<div class="domain_title">
			<%= link_to domain.domain, domain %>
		</div>
		
		<% domain.users.limited_list.each do |user| %>
			<%= user.email %>
			<%= user.backup_email%>
			<%= link_to 'Remove User', user, confirm: 'Are you sure? This will permanently delete this user account.', method: :delete %>
		<% end %>
	</div>
	
<% end %>